/* リセット */

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ベース設定 */
body {
  height: auto;
}


/* メイン部分 */
.g-menu {
  display: flex;
/*   position:absolute;
  z-index:1; */
}

.g-menu__item {
  position: relative;
  border-bottom: 2px solid #66cc66;
}


.g-menu__link {
  display: block;/* ポイント！！ */
  padding: 20px 40px;/* ポイント！！ */
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  border: 2px solid #66cc66;
  border-radius:10px 10px 0 0;
  margin-right:5px;
  width: 100px;


}

.g-menu__dropdown-menu {
  opacity: 0;/* ポイント！！ */
  pointer-events: none;/* ポイント！！ */
  position: absolute;
  top: 100%;/* ポイント！！ */
  left: 0;
  background: #66cc66;
  width: 100%;
}

.g-menu__dropdown-menu-item {
  border-bottom: 1px solid white;
}
.g-menu__dropdown-menu-item:last-child {
  border-width: 0;
}

.g-menu__dropdown-menu-link {
  display: block;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.g-menu__item:hover .g-menu__link {
  color: white;
  background-color:#66cc66;
  border-bottom: 2px solid white;
  transition: .3s;
}

.g-menu__item:hover .g-menu__dropdown-menu {
  opacity: 1;
  pointer-events: auto;
  transition: .5s;
}

.g-menu__dropdown-menu-link:hover {
  background: #3cb371;
  color: white;
}

/*ラジオボタンの非表示*/
#pai {
display: none; /* 標準スタイル */
}

#rule {
display: none; /* 標準スタイル */
}
#han {
display: none; /* 標準スタイル */
}
#start {
display: none; /* 標準スタイル */
}

/*以下タブエリア用↓↓*/

/* コンテンツ */
.tab-content-item {
  /* コンテンツは非表示にしておく */
  display: none;
  /* パディング */
  padding: auto;
  /* コンテンツに収まらない場合は非表示 */
  overflow: visible;
}
#main_content {
/* 	display:none; */
}

#tabContent01 {
/* 	position:relative;
	Z-index:5; */
}
/* ラジオボタンがチェックされたら、コンテンツを表示 */
#rule:checked ~ #tabContent01,
#start:checked ~ #tabContent02,
#pai:checked ~ #tabContent03,
#han:checked ~ #tabContent04{
  display: block;
}

/* コンテンツのPタグ */
.tab-content-item p {
  padding-bottom: 1em;
}

 #mahajan, #kanseikei, #rontotsumo, #reach, #naki,#naki,#dora,#uradora,#tensuu,#siaisuu,#yaku,#basho,#oya,#painookikata,#dorahyoujihai,
 #manzu,#pinzu,#souzu,#kazehai,#sangenpai,#akadora,#1han,#2han,#356han,#yakuman {
 border: none;
  background: transparent;
 }

 #mahajan,#kanseikei, #rontotsumo,#reach, #naki,#naki,#dora,#uradora,#huriten,#tensuu,#siaisuu,#yaku{
 border: none;
  background: transparent;
 }

 #basho,#oya,#painookikata,#dorahyoujihai {
 border: none;
 background: transparent;
 }
 #manzu,#pinzu,#souzu,#kazehai,#sangenpai,#akadora{
 border: none;
  background: transparent;
 }

 #1han,#2han,#356han,#yakuman{
border: none;
 background: transparent;
 }