/* リセット */

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ベース設定 */
body {
  height: auto;
}


/* メイン部分 */
.g-menu {
  display: flex;
/*   position:absolute;
  z-index:1; */
}

.g-menu__item {
  position: relative;
  border-bottom: 2px solid #66cc66;
}


.g-menu__link {
  display: block;
  padding: 20px 40px;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  border: 2px solid #66cc66;
  border-radius:10px 10px 0 0;
  margin-right:5px;
  width: 100px;


}

.g-menu__dropdown-menu {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #66cc66;
  width: 100%;
}

.g-menu__dropdown-menu-item {
  border-bottom: 1px solid white;
}


.g-menu__dropdown-menu-link {
  display: block;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.g-menu__item:hover .g-menu__link {
  color: white;
  background-color:#66cc66;
  border-bottom: 2px solid white;
  transition: .3s;
}

.g-menu__item:hover .g-menu__dropdown-menu {
  opacity: 1;
  pointer-events: auto;
  transition: .5s;
}

.g-menu__dropdown-menu-link:hover {
  background: #3cb371;
  color: white;
}

/*ラジオボタンの非表示*/
#pai {
display: none; /* 標準スタイル */
}

#rule {
display: none; /* 標準スタイル */
}
#han {
display: none; /* 標準スタイル */
}
#start {
display: none; /* 標準スタイル */
}

#1han {
	 border: none;
  background: transparent;
}

 #mahajan,#kanseikei, #rontotsumo,#reach, #naki,#naki,#dora,#uradora,#huriten,#tensuu,#siaisuu,#yaku{
 border: none;
  background: transparent;
 }

 #basho,#oya,#painookikata,#dorahyoujihai {
 border: none;
 background: transparent;
 }
 #manzu,#pinzu,#souzu,#kazehai,#sangenpai,#akadora{
 border: none;
  background: transparent;
 }


.footer{
  position:absolute;
	bottom:0;
	width: 100%;
}
