body{
	font-family:Meiryo;
	text-align:center;
	margin:20px;
}
button{
	background-color:#fff;
	border-radius:20px;
	box-shadow:5px 5px 3px #CCC;
}
.start{
	padding:50px 150px;
	font-size:3em;
	border:8px double #FF6633;
}
.start:hover{
	background-color:#FFDBC9;
}
.guide{
	font-size:1.2em;
	margin:30px 25px;
	padding:17px 35px;
	border:solid 3px #66CC66;
}
.guide:hover{
	background-color:#E6FFE9;
}
.record{
	font-size:1.2em;
	margin:30px 25px;
	padding:17px 55px;
	border:solid 3px #66CC66;
}
.record:hover{
	background-color:#E6FFE9;
}
.appguide{
	font-size:15px;
	margin-top:30px;
	padding:7px 12px;
	border:solid 3px #66CC66;
	border-radius:7px;
}
.appguide:hover{
	background-color:#E6FFE9;
}