@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');

html {
    font-family: 'M PLUS 1p', sans-serif;
}

header {
    width: 100%;
    padding: 30px 4% 10px;
    background-color: #FFFFEE;
}

body {
text-align: center
}

label {
    display: inline-block;
    width: 90px;
}

img{
	width:200px;
    margin:30px;
}

input {
  width: 200px;
  padding: 10px 15px;
  border: 3.5px solid #66CC66;
  border-radius: 25px;
  font-size: 16px;
  margin:10px;
}
 /*ログインボタン*/

/* フォームの枠*/
input[type="text"] {
  box-shadow: 5px 5px 3px rgba(255, 192, 203, 0.5);
}
input[type="password"]{
  box-shadow:5px 5px 3px rgba(255,192,203,0.5);
}
.id:hover{
  border:solid 3.5px #006600;
}
input[type="submit"]{
  margin-bottom:30px;
  background-color:#fff;
}
.new:hover{
  background-color:#E6FFE9;
  border:solid 3.5px #006600;
}
span{
  color:#FF6633;
  margin-bottom:20px;
}

a{
  text-decoration:none;
  border:solid 1.5px #FF6633;
  padding:10px;
  padding-left:30px;
  padding-right:30px;
  color:#FF6633;
  background-color:#fff;
}
a:hover{
  background-color:#FFDBC9;
}
