form{
	font-size:1.2rem;
	background-color:#FFF5EE;
	margin:30px;
	padding:30px;
    border:solid 5px #FF6633;
    height:500px;
}


img{
  height:170px;
  border:solid 3px #FF6633;
  border-radius:15px;
  }

label{
	margin:10px;
	display:inline-block;
	width:130px;
	text-align:right;
}

div.button{
	margin: 0px;
    display:inline-block;
	margin:20px;
}

input[type="text"]{
	font-size:1.3rem;
    border:none;
	border-bottom:solid 2px #66CC66;
	background-color:#FFF5EE;
}
p{
	display:inline-block;
	margin:0px;
	font-size:1.3rem;
}
.regist{
	padding:6px 25px;
	background-color:#fff;
	border:solid 1px #FF6633;
	font-size:15px;
}
.regist:hover{
	background-color:#FFDBC9;
}
select{
	width:200px;
	height:30px;
}
div{
	float:left;
}
.user{
	margin:0px 40px;
}
h4{
	margin:20px 0 0;
	font-size:1.5rem;
}
