body{
	font-size:1.2rem;
	background-color:#FFDBC9;
	margin:30px;
	padding:30px;
    border:solid 5px #FF6633;

}

img{
  height:150px;
  }

h4{
	margin-top:10px;
	margin-bottom:1px;
	display:inline-block;
}

div.button{
	margin:5px 0px;
    display:inline-block;

}

input[type="text"]{
	font-size:1.1rem;
    border:none;
	border-bottom:solid 2px #66CC66;
	background-color:#FFFFEE
}
p{
	display:inline-block;
}