@charset "UTF-8";

.tehai{
	display:inline;
}



.doras{
	display:inline;
}

.yakus-hans{
	display:inline;
}

#nav ul{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;

}
.grid{
	display:grid;
	grid-template-columns:0.05fr 0.05fr 0.05fr 0.05fr 0.05fr 0.05fr;
	grid-template-rows:50px 50px ;
}
.grid__item{
	font-size:22px;
}
.grid__item2{
	font-size:22px;
	color:green;
}

.han-fu{
	color:green;
	position: relative;
	left:550px;
	bottom:150px;
	font-size:30px;

}


.under_line{
	text-decoration: underline 5px #FF6633;
}

.point{
	position: relative;
	bottom:250px;
	left:550px;
	color:#FF6633;
	font-size:35px;
}

.title{
	position: relative;
	bottom:100px;
	left:50px;
}

.submit{
	position: relative;
	width: 300px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #68779a;
    background: #66CC66;
    cursor: pointer;
    bottom:200px;
}